<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Seikka♪Music</title>

<link rel="icon" type="image/png" sizes="233x233" href="img/logo.png"/>
<link rel="apple-touch-icon" type="image/png" sizes="233x233" href="img/logo.png"/>
<link rel="shortcut icon" type="image/png" sizes="233x233" href="img/logo.png"/>
<link rel="stylesheet" type="text/css" href="2/css/main.css"/>
 
</head>
<body>
<div class="jAudio--player">
 
<audio src="music/ours.mp3"></audio>

<div class="jAudio--ui">
 
<div class="jAudio--thumb" style="background-image: url(&quot;https://music.seikka.xyz/img/ours.png&quot;);"></div>

  <div class="jAudio--status-bar">
 
    <div class="jAudio--details"><p><span>我们的</span><span>Seikka</span></p></div>
    <div class="jAudio--volume-bar"></div>
 
    <div class="jAudio--progress-bar">
      <div class="jAudio--progress-bar-wrapper">
        <div class="jAudio--progress-bar-played" style="width: 0%;">
          <span class="jAudio--progress-bar-pointer"></span>
        </div>
      </div>
    </div>
 
    <div class="jAudio--time">
      <span class="jAudio--time-elapsed">00:26</span>
      <span class="jAudio--time-total">00:36</span>
    </div>
 
  </div>
 
</div>
 
 <div class="jAudio--playlist">
<div class="jAudio-—playlist-item" data-track="music/weijin.mp3"><div class="jAudio--playlist-thumb"><img src="img/weijin.png"></div><div class="jAudio--playlist-meta-text"><h4>围巾</h4><p>Seikka</p></div></div>
<div class="jAudio--playlist-item" data-track="music/ours.mp3"><div class="jAudio--playlist-thumb"><img src="img/ours.png"></div><div class="jAudio--playlist-meta-text"><h4>我们的</h4><p>Seikka/钊浩</p></div></div>
<div class="jAudio--playlist-item" data-track="music/mydream.mp3"><div class="jAudio--playlist-thumb"><img src="img/mydream.png"></div><div class="jAudio--playlist-meta-text"><h4>僕と夢</h4><p>Seikka</p></div></div>
<div class="jAudio--playlist-item" data-track="music/rain.mp3"><div class="jAudio--playlist-thumb"><img src="img/rain.png"></div><div class="jAudio--playlist-meta-text"><h4>雨が降り声</h4><p>Seikka</p></div></div>
<div class="jAudio--playlist-item" data-track="music/TiredRain.mp3"><div class="jAudio--playlist-thumb"><img src="img/tiredrain.png"></div><div class="jAudio--playlist-meta-text"><h4>疲惫的雨</h4><p>Seikka</p></div></div>
<div class="jAudio--playlist-item" data-track="music/cmyh.mp3"><div class="jAudio--playlist-thumb"><img src="img/cmyh.png"></div><div class="jAudio--playlist-meta-text"><h4>乘梦远航</h4><p>Seikka</p></div></div>
<div class="jAudio--playlist-item" data-track="music/2021cmyh.mp3"><div class="jAudio--playlist-thumb"><img src="img/cmyh.png"></div><div class="jAudio--playlist-meta-text"><h4>2021乘梦远航</h4><p>Seikka</p></div></div>
</div>

<div>
<h1><span style="text-color:white";"font-family:arial">&nbsp</span></h1>
<h2><span style="text-color:white";"font-family:arial">&nbsp</span></h2>
<h3><span style="text-color:white";"font-family:arial">&nbsp</span></h3>
<div>
 
<div class="jAudio--controls">
  <ul>
    <li><button class="btn" data-action="prev" id="btn-prev"><span></span></button></li>
    <li><button class="btn" data-action="play" id="btn-play"><span></span></button></li>
    <li><button class="btn" data-action="next" id="btn-next"><span></span></button></li>
  </ul>
</div>
 
</div>
 
<script src="2/js/jquery-2.1.4.min.js"></script>
<script src="2/js/jaudio.js"></script>
<script>
var t = {
    playlist:[
        {
          file: "music/cmyh.mp3",
          thumb: "img/cmyh.png",
          trackName: "乘梦远航",
          trackArtist: "Seikka/钊浩/JIA",
          trackAlbum: "Single",
        },
        {
          file: "music/2021cmyh.mp3",
          thumb: "img/cmyh.png",
          trackName: "2021乘梦远航",
          trackArtist: "Seikka/钊浩/JIA",
          trackAlbum: "Single",
        },
        {
          file: "music/ours.mp3",
          thumb: "img/ours.png",
          trackName: "我们的",
          trackArtist: "Seikka/钊浩",
          trackAlbum: "Single",
        },
        {
          file: "music/mydream.mp3",
          thumb: "img/mydream.png",
          trackName: "僕と夢",
          trackArtist: "Seikka",
          trackAlbum: "Single",
        },
        {
          file: "music/rain.mp3",
          thumb: "img/rain.png",
          trackName: "雨が降り声",
          trackArtist: "Seikka",
          trackAlbum: "Single",
        },
        {
          file: "music/TiredRain.mp3",
          thumb: "img/tiredrain.png",
          trackName: "疲惫的雨",
          trackArtist: "Seikka",
          trackAlbum: "Single",
        },
        {
          file: "music/back.mp3",
          thumb: "img/back.png",
          trackName: "谁与云归",
          trackArtist: "Seikka",
          trackAlbum: "Single",
        },
        {
          file: "music/weijin.mp3",
          thumb: "img/weijin.png",
          trackName: "围巾",
          trackArtist: "Seikka/JIA",
          trackAlbum: "Single",
        }
    ],
    autoPlay:true
}
 
$(".jAudio--player").jAudio(t);
</script>
 
 
</body>